body {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    background: #203047;
    display: inline-block
}

.caixa {
    width: 94%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;
}

.logo{
    width: 50%;
    display: inline-block;
    margin-top: 30px;
}

.logo-amarela {
    color: #f5d01f;
    font-weight: bold;
    font-size: 2em;
    display: inline-block;
}

.logo-branca {
    display: inline;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

.dados-usuario{
    display: flex;
    width: 50%;
    padding: 10px 0;
}

.foto {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: 5px;
}

header a{
    color: #fff;
}

.dado {
    color: #fff;
    display: inline-block;
}

.dado-item {
    color: #fff;
    padding-top: 0.2em;
}

.nome {
    font-size: 1.5em;
}

.mensagem {
    font-size: 0.7em;
}

.sair{
    font-size: 0.7em;
}

main {
    margin: 50px 50px;
}

.container {
    margin-top: 50px;
}

footer {
    text-align: center;
}
/*





